body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
	background: #F8F8F8;
	min-height: 100vh;
	position: relative;
}

body#index {
    color: black;
}

img.logo {
    background-color: black;
    border-radius: 100%;
    box-shadow: 0px 0px 15px grey;
}

body header div#logo-container {
	text-align: center;
}

body header img.logo {
	width: 100px;
	margin: 0 auto;
}

body#index > hr {
  animation-name: extend;
  animation-duration: 3s;
}

@keyframes extend {
    0% { width: 0; }
    33% { width: 0; }
    100% { width: 100%; }
}

@keyframes fadein {
    0% { opacity: 0; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

a.btn {
  background-color: white;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid grey;
  border-radius: 0.75em;
  padding: 0.66em;
  transition: 0.25s ease box-shadow;
}

a.btn:hover {
  box-shadow: 0px 0px 20px lightgrey;
}

body {
	background-color: #1F1F1F;
	color: white;
}

body header nav {
	text-align: right;
}

@media (max-width: 44.99em) {
	body header nav {
		text-align: center;
		display: block;
	}
}

body header nav a {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 2em;
	padding: 0.5em 1em;
	margin: 0.25em;
	line-height: 82px;
	color: black;
	background-color: #00CF58;
	box-shadow: 0px 0px 15px #00CF58;
	border: 3px solid #1F1F1F;
	transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	white-space: nowrap;
}

body header nav a:hover {
	border-color: #00CF58;
	background-color: white;
}

body header {
	border-bottom: 1px solid white;
}

#site-title-container {
	text-align: center;
}

#site-title-container h1, #site-title-container h2 {
	margin-top: 0.25em;
}

#site-title-container h2 {
	font-size: 1.25em;
}

#about-me h2 {
	font-size: 1.5em;
}

#about-me h3 {
	font-size: 1.25em;
}

#about-me h4 {
	font-size: 1em;
}

#about-me h5 {
	font-size: 0.75em;
}

article {
	border: 4px solid #00CF58;
	margin-top: 1em;
	margin-bottom: 1em;
}

article h1 {
	font-size: 1.75em;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #00CF58;
	color: black;
	padding: 0.25em;
	display: block;
}

article time {
	font-weight: lighter;
	text-decoration: underline;
	background-color: #00CF58;
	color: black;
	float: right;
}

article h2 {
	font-size: 1.125em;
	background-color: #00CF58;
	color: black;
	padding: 0.25em;
	margin-top: 0;
}


article p {
	padding: 0.25em;
}

footer {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 33vh);
}

body * {
	color: white;
}