@import "./styles.scss";

div.navbar {
    font-family: 'Rajdhani', sans-serif;
}

div.tz-sidebar-container li.nav-item {
    font-size: 1.3rem;
    // width: 100%;

    &:first-child .btn-tznav {
        border-top-width: 3px;
    }

    &:last-child .btn-tznav {
        border-bottom-width: 3px;
    }
}

#tzLogoTopbar {
    height: 4.5em;
    width: auto;

}

.btn-tznav {
    @include button-variant(shade-color($color-lightrosey, 36%), $color-orange);
    // @include gradient-directional(rgba(tint-color($color-roseypink, 45%), 0.7), rgba(tint-color($color-strongpurple, 10%), 0.7), -150deg);
    background-color: mix(shade-color(tint-color($color-roseypink, 10%), 75%), shade-color($color-purple, 50%), 20%);
    border: 1px solid rgba(tint-color($color-roseypink, 30%), 0.3);
    border-left: none;
    border-right: none;

    &:hover:not(.active) {
        background-color: mix(shade-color(tint-color($color-roseypink, 10%), 65%), shade-color($color-purple, 40%), 70%);

        border-color: rgba($color-strongpurple, 0.3);
    }

    &:active,
    &.active {
        background-color: mix(shade-color(tint-color($color-roseypink, 10%), 45%), shade-color($color-purple, 50%), 80%);
        text-shadow: 1px 1px 5px rgba(black, 0.55);
    }

    &:focus {
        text-shadow: 1px 1px 5px rgba(black, 0.55);
    }

    &>div:first-of-type {
        flex-basis: 100%;
        flex-shrink: 1;
        flex-grow: 0;
        text-align: left;
        padding-left: 1em;
    }

    width: 100%;

    color: rgba($color-light, 0.875);

    text-shadow: 1px 1px 5px rgba(black, 0.35);

    font-size: 1.35rem;

    height: 3.5rem;
    position: relative;
    z-index: 1022;
}

.btn-tznav-icon {
    height: 100%;
    width: 4rem;
    font-size: 2rem;
    z-index: 1021;
    color: $light;
}

.btn-tznav-icon i {
    position: relative;
    top: -17.5%;

    margin-right: 0.3rem;
}

.tz-navbar-border {
    border-color: tint-color($color-roseypink, 10%) !important;
}

#navbarContent {
    height: 100vh;
    transition: transform 0.15s ease;
    backdrop-filter: blur(2px);
    width: 100%;
}

#navbarContent ul li.nav-item {
    display: inline-block;
}

.navbar-toggler {
    width: fit-content;
}

.tz-navbar-hidden {
    transform: translateX(-100%);
}

.tz-navbar-shown {
    transform: translateX(0%);
}

.tz-sidebar-container {
    z-index: 1160;
    max-width: 15em;
}

#topBar {
    z-index: 1150;
}

.hide {
    width: 0;
    transition: width 0.15s ease;
}