html {
    scroll-behavior: smooth;
}

body {
    background-color: #1F1F1F;
}

.tz-logo {
    border-radius: 100%;
    background-color: #1F1F1F;
    border: 2px solid black;
    box-shadow: #424242 0px 0px 15px;
}

.nav, .footer {
    border-right: 5px solid #00CF58;
}

.nav-link.active, .nav-link.active:hover {
    background-color: #00CF58;
    color: #1F1F1F;
}

.nav-link:hover {
    color: #00CF58;
}

.body-headernav-border {
    border-top: 5px solid #00CF58;
}

.site-body {
    border-left: 5px solid #00CF58;
}

.blog-post a, .blog-post a:visited, a.green-link, a.green-link:visited {
    color: #00CF58;
}

hr.blog-post-separator {
    height: 1em !important;
    width: 98%;
    text-align: center;
    margin: 0.5em auto;
}

.blog-post:last-of-type + hr.blog-post-separator, .showcase-entry:last-of-type hr.blog-post-separator {
    display: none;
}

i.small-icon {
    font-size: 1rem;
}

i.tiny-icon {
    font-size: 0.5rem;
}

pre.hlsl-code {
    min-height: 200px;
    height: 400px;
    resize: vertical;
}