// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Rajdhani:wght@500;600&display=swap');

$color-dark: #333D39;
$color-turqouise: #4BA399;
$color-blue: #3F7087;
$color-purple: #2D3256;
$color-light: #E7F7F6;
$color-orange: #e4712f;
$color-greenish: #B9CE9F;
$color-easyblue: #466B89;
$color-roseypink: #BA6781;
$color-lightrosey: #FFBFE4;
$color-violet: #744b79;
$color-strongpurple: #5c0074;
$color-silver: #5a5a5a;
$color-aqua: #90E0D5;
$color-darkaqua: #2C6160;
$color-beige: #D3BFA7;
$color-seaweed: #BDC190;
$color-beigepink: #E5B8C0;
$color-beigepurple: #B395A3;

$info: $color-purple;
$light: $color-light;
$primary: $color-blue;
$dark: $color-dark;
$success: $color-turqouise;
$warning: $color-orange;
$secondary: $color-easyblue;

$enable-negative-margins: true;

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";


$utilities: map-merge(
  $utilities,
  (
    "border-color": map-merge(
        map-get($utilities, "border-color"),
        (
            values: map-merge(
                map-get(map-get($utilities, "border-color"), values),
                ("lightpink": rgba(tint-color($color-lightrosey, 40%), 0.8))
            )
        )
    )
  )
);

.side-bg {
    background: linear-gradient(to bottom, shade-color($color-purple, 50%), shade-color($color-lightrosey, 90%));
}

.main-page-content:nth-child(odd) {
    background: rgba(shade-color($color-roseypink, 90%), 0.3);
}

.main-page-content:nth-child(even) {
    background: rgba(shade-color($color-violet, 65%), 0.3);
}

.home-intro-cover {
    min-height: 40em;
    font-family: 'Chakra Petch', sans-serif;
}

div.navbar {
    font-family: 'Rajdhani', sans-serif;
}

div.navbar li.nav-item {
    font-size: 1.3rem;
}

.btn-tznav {
    @include button-variant(shade-color($color-lightrosey, 36%), $color-orange);
    @include border-radius(0.8rem);
    @include gradient-directional(rgba(tint-color($color-roseypink, 45%), 0.7), rgba(tint-color($color-strongpurple, 10%), 0.7), -150deg);
    &:hover {
        @include gradient-directional(tint-color($color-roseypink, 35%), tint-color($color-strongpurple, 40%), -150deg);

        border: 0.07em solid rgba($color-strongpurple, 0.3);
    }

    &:active,
    &.active
    {
        @include gradient-directional(tint-color($color-roseypink, 40%), tint-color($color-strongpurple, 50%), -150deg);
        border: 0.07em solid rgba(tint-color($color-roseypink, 30%), 0.3);
        text-shadow: 1px 1px 5px rgba(black, 0.55);
    }

    &:focus
    {
        border: 0.07em solid rgba(tint-color($color-roseypink, 30%), 0.3);
        text-shadow: 1px 1px 5px rgba(black, 0.55);
    }

    width: 8rem;

    color: rgba($color-light, 0.875);

    text-shadow: 1px 1px 5px rgba(black, 0.35);

    font-size: 1.35rem;
    
    height: 3.5rem;
    position: relative;
    z-index: 1022;
}

.btn-tznav-icon {
    background-image: linear-gradient(to right, shade-color($color-roseypink, 50%), tint-color($color-roseypink, 20%));
    height: 3.5rem;
    width: 4rem;
    font-size: 2rem;
    @include border-radius(0.8rem);
    z-index: 1021;
    color: $light;
}

.btn-tznav-icon i {
    margin-right: 0.3rem;
}

.tz-navbar-border {
    border-color: tint-color($color-roseypink, 10%)!important;
}

// Required
@import "~bootstrap/scss/bootstrap";

#navbarContent {
    height: 100vh;
    transition: transform 0.15s ease;
    backdrop-filter: blur(2px);
    width: 80%;
}

#navbarContent ul li.nav-item {
    display: inline-block;
}

.tz-navbar-hidden {
    transform: translateX(-100%);
}

.tz-navbar-shown {
    transform: translateX(0%);
}

#tz-side-navbar {
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.tz-logo {
    border-radius: 100%;
    background-color: #1F1F1F;
    border: 2px solid black;
    box-shadow: #424242 0px 0px 15px;
}

.tz-brand-border {
    border-bottom-color: $color-lightrosey!important;
}

.tz-brand-gradient {
    background-image: linear-gradient(0deg, rgba($color-roseypink, 0.7), rgba($color-violet, 1));
    backdrop-filter: blur(5px);
}

.tz-brand-gradient-sub {
    background-image: linear-gradient(-90deg, rgba(tint-color($color-roseypink, 30%), 0.3), rgba(shade-color($color-roseypink, 50%), 0.5));
}

/*.nav, .footer {
    border-right: 5px solid #00CF58;
}

.nav-link.active, .nav-link.active:hover {
    background-color: #00CF58;
    color: #1F1F1F;
}

.nav-link:hover {
    color: #00CF58;
}

.body-headernav-border {
    border-top: 5px solid #00CF58;
}

.site-body {
    border-left: 5px solid #00CF58;
}*/

.blog-post a, .blog-post a:visited, a.green-link, a.green-link:visited {
    color: #00CF58;
}

hr.blog-post-separator {
    height: 1em !important;
    width: 98%;
    text-align: center;
    margin: 0.5em auto;
}

.blog-post:last-of-type + hr.blog-post-separator, .showcase-entry:last-of-type hr.blog-post-separator {
    display: none;
}

i.small-icon {
    font-size: 1rem;
}

i.tiny-icon {
    font-size: 0.5rem;
}

pre.hlsl-code {
    min-height: 200px;
    height: 400px;
    resize: vertical;
}

/*:root {
    --bs-light: $color-light;
}*/
